<footer>
    <ul class="deras"> 
      <li>     
      {% if site.facebook_username %}
      <a itemprop="facebook" href="https://www.facebook.com/{{ site.facebook_username }}" title="Facebook">
        <svg><use xlink:href="#icon-facebook"></use></svg>
      </a>
      {% endif %}
      </li>
      <li> 
      {% if site.twitter_username %}
      <a itemprop="twitter" href="https://twitter.com/{{ site.twitter_username }}" title="Twitter">
        <svg><use xlink:href="#icon-twitter"></use></svg>
      </a>
      {% endif %}
      </li>
      <li> 
      {% if site.instagram_username %}
      <a itemprop="instagram" href="https://www.instagram.com/{{ site.instagram_username }}" title="Instagram">
        <svg><use xlink:href="#icon-instagram"></use></svg>
      </a>
      {% endif %}
      </li>
      <li> 
      {% if site.linkedin_username %}
      <a itemprop="linkedin" href="https://www.linkedin.com/in/{{ site.linkedin_username }}" title="LinkedIn">
        <svg><use xlink:href="#icon-linkedin"></use></svg>
      </a>
      {% endif %}
      </li> 
    </ul>
    <ul class="deras">
        {% for link in site.links %}
          <li><a href="{{ site.url }}{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a></li>
        {% endfor %}
        
    </ul>
    <div class="tanda"><p>Semua komik di website ini hanya preview dari komik aslinya, mungkin terdapat banyak kesalahan bahasa, nama tokoh, dan alur cerita. Untuk versi aslinya, silahkan beli komiknya jika tersedia di kotamu</p></div>    
</footer>
<script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
{% include stats.html %}
{% include timeago.html %}

