<h2 class="gogo">Rekomendasi Baca Manga</h2>
<br />
<div id="myProject" class="home">
<div class="bookItem"><a href="{{ site.baseurl }}/path-of-the-shaman/" title="Path of the Shaman">
            <div class="snippet-thumbnail"><img src="https://1.bp.blogspot.com/-B87WJsQAZDM/YGcaei-OwUI/AAAAAAAAPVw/ENAv6anu0-Y37-182_i_Jx_k52nDE15dwCLcBGAsYHQ/s72-c/path-of-the-shaman-915203-FDmR0W1b.jpg" alt="Path of the Shaman">
                <div class="ply"></div>
            </div>
        </a>
        <div class="data">
            <h2><a href="{{ site.baseurl }}/path-of-the-shaman/" title="Path of the Shaman">Path of the Shaman</a></h2>
           
        </div>
    </div>
<div class="bookItem"><a href="{{ site.baseurl }}/strongest-anti-m.e.t.a/" title="Strongest Anti M.E.T.A">
            <div class="snippet-thumbnail"><img src="https://1.bp.blogspot.com/-e6p_CvJiLGU/X1YKyFN_v8I/AAAAAAAABWg/hp42ZXRhDCM2OSS6UK7nQIvOH3mrpN-eQCLcBGAsYHQ/s72-c/Strongest-Anti-M.E.T.A-Bahasa-Indonesia.jpg" alt="Strongest Anti M.E.T.A">
                <div class="ply"></div>
            </div>
        </a>
        <div class="data">
            <h2><a href="{{ site.baseurl }}/strongest-anti-m.e.t.a/" title="Strongest Anti M.E.T.A">Strongest Anti M.E.T.A</a></h2>
           
        </div>
    </div>
<div class="bookItem"><a href="{{ site.baseurl }}/master-campus/" title="Master Campus">
            <div class="snippet-thumbnail"><img src="https://1.bp.blogspot.com/-9_BE5r-_MpA/X2smiD0OZNI/AAAAAAAAB48/bmoGERSPBngCWYGh8SquSxQL0j_oKXFjACLcBGAsYHQ/s72-c/download-8-922646-OMhJGHH6.jpg" alt="Master Campus">
                <div class="ply"></div>
            </div>
        </a>
        <div class="data">
            <h2><a href="{{ site.baseurl }}/master-campus/" title="Master Campus">Master Campus</a></h2>
           
        </div>
    </div>
<div class="bookItem"><a href="{{ site.baseurl }}/magic-emperor/" title="Magic Emperor">
            <div class="snippet-thumbnail"><img src="https://1.bp.blogspot.com/-MQ3QL0quago/Xy967jeZWnI/AAAAAAAABTI/Vs7D101CCXkJybMV_vJrx0tvbEoegHaYACLcBGAsYHQ/s72-c/Magic-Emperor.jpg" alt="Magic Emperor">
                <div class="ply"></div>
            </div>
        </a>
        <div class="data">
            <h2><a href="{{ site.baseurl }}/magic-emperor/" title="Magic Emperor">Magic Emperor</a></h2>
           
        </div>
    </div>
</div>
